<p class="timeline-title">
    <%- partial('post/date', {class_name: 'archive-article-date', date_format: post.date_format_archive}) %>
    <%- partial('post/title_archive', {class_name: 'archive-article-title'}) %>
</p>