<footer class="blog-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 col-xs-4">
        <div id="footer-info" class="inner">
          <p>&copy; 2015-<%= date(new Date(), 'YYYY') %> <a href="mailto:simon.zhu.chn@hotmail.com"><%= config.author || config.title %></a></p>
          <p>Powered by <a href="http://hexo.io/" target="_blank">Hexo</a></p>
          <br>
          <p>我们居住在宁波市鄞州区</p>
          <p>扫描二维码交个朋友</p>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4">
        <img src="/css/images/zsh-wx.jpg" class="zz-footer-qrcode">
        <p class="hidden-xs">微信</p>
      </div>
      <div class="col-sm-2 col-xs-4">
        <img src="/css/images/zcc-wx.jpg" class="zz-footer-qrcode">
        <p class="hidden-xs">微信</p>
      </div>
    </div>
  </div>
</footer>
